# Compiled class files
*.class

# IDE directories
/.settings/
/.project
/.classpath
/.vscode/
/.idea/
/CoffeeSocketDemo.iml

# Eclipse / STS specific files
*.log

# bin or target folder
/bin/
/target/

# libraries
/lib/
